<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>



<p>Environmental Students Union Library Catalogue</p>
<% debugger %>
<% link_to("My Blog", "http://www.google.ca") %>

<p>-Created using Ruby on Rails. Work in progress.</p>