<h1>Environmental Students Union Library Catalogue</h1>
<p>
	This website allows students to view the books available at the ENSU library.
</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>
