<h1>All books</h1>

<p><%= link_to "Add new book (placeholder link)", new_book_path %></p>

<%= will_paginate @books %>

	<%# Automatically takes the paginated books instance and iterates over it,
	sending each individual user to the _user partial %>
	<table class="books" summary="All books in the library">
		<%= render @books %>
	</table>

<%= will_paginate @books %>
